<!DOCTYPE html>
<html>
<head><meta charset="UTF-8"/></head>
<body>
	<!--CONFIRM MODAL-->
	confirma!
    <div class="modal fade" tabindex="-1" role="dialog" id="myModal" th:fragment="modal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header" style="text-align: right;">
                	<button class="close" type="button" data-dismiss="modal" aria-label="Close">X</button>
                </div>
                <br>
                <h4 class="modal-title" style="text-align: center;">Atenção</h4>
                <div class="modal-body">
                    <p style="text-align: center;">Clique em Ok para proceder com a exclusão.&hellip;</p>
                </div>
                
                <div class="modal-footer" >
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                    <button id="ok_confirm" type="button" class="btn btn-primary">Ok</button>
                </div>
            </div>    <!-- /.modal-content -->
        </div>  <!-- /.modal-dialog -->
    </div> <!-- /.modal -->
</body>
</html>	