<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>Cadastro Cliente</title>
	<link rel="stylesheet" th:href="@{/css/style.css}">
</head>

<body>
	<div class="container">
	
	<h1>Cadastro de Cliente</h1>
	
	<form th:action="@{/clientes/salvar}" th:object="${cliente}" method="post">
	    <input type="hidden" th:field="*{id}">
	
	    <label>Nome:</label><br>
	    <input type="text" th:field="*{nome}" required><br><br>
	    <button class="btn" type="submit">Salvar</button>
	
	</form>
	<br>
	<a th:href="@{/clientes/lista}" class="btn">Voltar</a>
	
	</div>
</body>

</html>